<h3>Registration</h3>
<p>This is the dark side of this site : the administration page. Please be kind with ours !</p><br/>
<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="admin/users"><i class="glyphicon glyphicon-user"></i> users</a></li>
    <li role="presentation"><a href="admin/posts"><i class="glyphicon glyphicon-list-alt"></i> posts</a></li>
</ul>
<br/>
<div class="container" ng-controller="adminUsersCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="searchText" placeholder="type what you search here" />
            </div>
        </div>
    </form>
    <div ng-repeat="user in users | filter: searchText">
        <div class="form-group">
            <div class="col-sm-8">
                <p class="form-control"><strong>{{ user.name }}</strong><cite> is {{ user.admin ? 'an admin' : 'a member'}}, {{ user.status ? 'active' : 'removed'}} since {{ user.status ? user.createDate : user.deleteDate | date : "dd/MM/yyyy" }}</cite></p>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success btn-block" type="submit" ng-click="activateUser(user._id)" ng-disabled="user.status"><i class="glyphicon glyphicon-ok-circle"></i> Activate</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning btn-block" type="submit" ng-click="banishUser(user._id)" ng-disabled="!user.status"><i class="glyphicon glyphicon-ban-circle"></i> Banish</button>
            </div>
        </div>
    </div>
</div>
