<h3>Registration</h3>
<p>This is the dark side of this site : the administration page. Please be kind with ours !</p><br/>
<ul class="nav nav-pills nav-justified">
    <li role="presentation"><a href="admin/users"><i class="glyphicon glyphicon-user"></i> users</a></li>
    <li role="presentation" class="active"><a href="admin/posts"><i class="glyphicon glyphicon-list-alt"></i> posts</a></li>
</ul>
<br/>
<div class="container" ng-controller="adminPostsCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="searchText" placeholder="type what you search here" />
            </div>
        </div>
    </form>
    <div ng-repeat="post in posts | filter: searchText">
        <div class="form-group">
            <div class="col-sm-8">
                <blockquote>
                    <p>{{ post.content | limitTo: 80 }}{{ post.content.length > 50 ? '[...]' : ''}}</p>
                    <div class="form-group">
                        <footer>
                            posted by {{ post.authorDatas[0].name }}<br/>
                            <cite>{{ post.status ? 'is published' : 'is removed'}} since {{ post.status ? post.createDate : post.deleteDate | date : "dd/MM/yyyy 'at' HH:mm:ss" }}</cite><br/>
                            {{ post.like.length }} passenger like it.
                        </footer>
                    </div>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success btn-block" type="submit" ng-click="activatePost(post._id)" ng-disabled="post.status"><i class="glyphicon glyphicon-ok-circle"></i> Activate</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning btn-block" type="submit" ng-click="banishPost(post._id)" ng-disabled="!post.status"><i class="glyphicon glyphicon-ban-circle"></i> Banish</button>
            </div>
        </div>
    </div>
</div>
