<div ng-controller="albumCtrl">
    <img src="{{ wall.avatar ? wall.avatar : '/images/logo.png' }}" class="pull-left big-avatar"/>
<h3>Album</h3>
<p>Please {{ wall._id == user._id ? 'manage and enrich your' : 'travel and enjoy ' + wall.name + '\'s' }} images !</p>
<div class="container">
    <div class="bs-callout bs-callout-warning">
        <form class="form-signin form-horizontal" name="updateForm" ng-submit="updateAlbum(albumToShow._id, newTitle, newDescription)" ng-if="user._id == albumToShow.owner">
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="newTitle" ng-init="newTitle = albumToShow.title" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="newDescription" ng-init="newDescription = albumToShow.description" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-pencil"></i> Update</button>
                </div>
            </div>
        </form>

        <div class="form-group" ng-if="user._id != wall._id">
            <p><strong>{{ albumToShow.title }}</strong></p>
            <p>{{ albumToShow.description }}</p>
        </div>
    </div>

    <div ng-repeat="image in images">
        <div class="bs-callout bs-callout-info">
            <div class="container">
                <div class="col-sm-3">
                    <a ng-click="openImage(image.path)">
                        <img src="{{ image.path }}" class="image"/>
                    </a>
                </div>
                <div class="col-sm-9">
                    <p><strong>{{ image.title }}</strong></p>
                    <div class="form-group">
                        <footer>
                            <button class="btn btn-default btn-xs" type="submit" ng-click="removeImage(image._id)" ng-show="user._id == image.owner"><i class="glyphicon glyphicon-remove"></i></button>
                            <button class="btn btn-default btn-xs" ng-click="likeImage(image._id)" ng-show="image.owner!=user._id && !image.isLiked" title="like it"><i class="glyphicon glyphicon-thumbs-up"></i></button> <button class="btn btn-default btn-xs" ng-click="unlikeImage(image._id)" ng-show="image.owner!=user._id && image.isLiked" title="unlike it"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                            <button class="btn btn-default btn-xs" ng-click="commentateImage(image._id)" title="comment it"><i class="glyphicon glyphicon-comment"></i></button>
                            <cite>posted on {{ image.createDate | date : "dd/MM/yyyy 'at' HH:mm:ss"}}</cite> | {{ image.like.length }} passenger{{ image.like.length > 1 ? 's' : '' }} like it.
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" ng-show="imageToComment==image._id">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="bs-callout bs-callout-danger low-margin" >
                    <div class="form-group">
                            <form class="form-horizontal" ng-submit="postComment(image._id, commentContent, image.owner, albumToShow._id)" name="comment">
                                <div class="form-group" >
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="commentContent" />
                                    </div>
                                    <div class="pull-right pull-right-padding">
                                        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-send"></i></button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="comment in comments | filter:searchText">
            <div ng-if="comment.image == image._id">
                <div class="container">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="bs-callout bs-callout-danger low-margin">
                            <div class="form-group">
                                    <p class="pull-right">
                                        <img class="avatar" src="{{ comment.authorDatas[0].avatar ? comment.authorDatas[0].avatar : '/images/favicon.ico'}}">
                                    </p>
                                    <p ng-bind-html="trustHtml(comment.content)" hashtagify term-click="tagTermClick($event)" user-click="tagUserClick($event)"></p>
                                    <div class="form-group">
                                        <footer>
                                            <button class="btn btn-default btn-xs" ng-click="removeComment(comment._id)" ng-show="comment.author==user._id" title="remove it"><i class="glyphicon glyphicon-remove"></i></button>
                                            <button class="btn btn-default btn-xs" ng-click="likeComment(comment._id)" ng-show="comment.author!=user._id && !comment.isLiked" title="like it"><i class="glyphicon glyphicon-thumbs-up"></i></button> <button class="btn btn-default btn-xs" ng-click="unlikeComment(comment._id)" ng-show="comment.author!=user._id && comment.isLiked" title="unlike it"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                                            commented by {{ comment.authorDatas[0].name }}<cite> on {{ comment.createDate | date : "dd/MM/yyyy 'at' HH:mm:ss"}}</cite> | {{ comment.like.length }} passenger{{ comment.like.length > 1 ? 's' : '' }} like it.
                                        </footer>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p></p>
    <form class="form-signin form-horizontal" name="uploadForm" ng-submit="uploadImage(file, title)" ng-if="user._id==albumToShow.owner">
        <div class="col-sm-offset-2 col-sm-10">
            <p>Upload an new image :</p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Image</label>
            <div class="col-sm-10">
                <input type="file" ngf-select name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" class="form-control" ng-model="file" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button ng-disabled="uploadForm.$valid" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-folder-open"></i>  Choose your file</button>
                <!-- <i ng-show="uploadForm.file.$error.required">*required</i><br> -->
                <i class="alert alert-error" ng-show="uploadForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                <br/>
                <img ng-show="uploadForm.file.$valid" ngf-thumbnail="file" class="thumb avatar">
            </div>
            <div class="col-sm-5">
                <button ng-disabled="!uploadForm.$valid" class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-open"></i> Import it !</button>
                    <span class="progress" ng-show="file.progress >= 0">
                        <div style="width:{{file.progress}}%" ng-bind="file.progress + '%'"></div>
                    </span>
                <br/>
                <span class="alert alert-success" ng-show="file.result">Upload Successful</span>
                <span class="err alert alert-error" ng-show="errorMsg">{{errorMsg}}</span>
                <button class="btn btn-warning btn-block" ng-click="file = null" ng-show="file && !file.result"><i class="glyphicon glyphicon-remove-sign"></i> Remove it</button>
            </div>
        </div>
    </form>

    <div class="form-group" ng-if="user._id==albumToShow.owner">
        <div class="col-sm-offset-2 col-sm-10">
            <br/>
            <p>You want to remove this album ? Just click below.</p>
            <button class="btn btn-default" ng-click="removeAlbum(albumToShow._id)"><i class="glyphicon glyphicon-remove-sign"></i> Remove</button>
            <p></p>
        </div>
    </div>
</div>
</div>