<div ng-controller="albumsCtrl">
    <img src="{{ wall.avatar ? wall.avatar : '/images/logo.png' }}" class="pull-left big-avatar"/>
    <h3>Albums
        <button class="btn btn-default" ng-click="showMyAlbums()" ng-hide="wall._id == user._id" id="myAlbum" title="back to my wall"><i class="glyphicon glyphicon-repeat"></i></button>
        <button class="btn btn-default" ng-click="sendPrivateMessage(wall._id, wall.name)" ng-hide="wall._id == user._id" id="privateMessage" title="send a private message to this passenger"><i class="glyphicon glyphicon-envelope"></i></button>
    </h3>
    <p>Enjoy {{ wall._id == user._id ? 'your' : wall.name + '\'s' }} Ghost Train albums and "souvenirs".</p>
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="searchText" placeholder="type what you search here" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-block" type="submit" ng-click="clean()"><i class="glyphicon glyphicon-refresh"></i> Clean it !</button>
                </div>
            </div>
        </form>
        <div ng-repeat="album in albums | filter:searchText">
            <div class="form-group">
                <div class="bs-callout bs-callout-info">
                    <div class="container-fluid no-padding">
                        <div class="col-sm-2 pull-right">
                            <button class="btn btn-info btn-block smaller" type="submit" ng-click="showAlbum(album)" ng-show="user._id != album.owner"><i class="glyphicon glyphicon-picture"></i> Consult</button>
                            <button class="btn btn-info btn-block smaller" type="submit" ng-click="showAlbum(album)" ng-show="user._id == album.owner"><i class="glyphicon glyphicon-cog"></i> Manage</button>
                        </div>
                        <div class="col-sm-2" >
                            <img src="{{ album.image.path }}" class="little-image"/>
                        </div>
                        <div class="col-sm-8">
                            <p><strong>{{ album.title }}</strong></p>
                            <p>{{ album.description }}</p>
                            <div class="form-group">
                                <footer>
                                    <button class="btn btn-default btn-xs" ng-click="likeAlbum(album._id)" ng-show="album.owner!=user._id && !album.isLiked" title="like it"><i class="glyphicon glyphicon-thumbs-up"></i></button> <button class="btn btn-default btn-xs" ng-click="unlikeAlbum(album._id)" ng-show="album.owner!=user._id && album.isLiked" title="unlike it"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                                    <button class="btn btn-default btn-xs" ng-click="commentateAlbum(album._id)" title="comment it"><i class="glyphicon glyphicon-comment"></i></button>
                                    <cite> shared on {{ album.createDate | date : "dd/MM/yyyy 'at' HH:mm:ss"}}</cite> | {{ album.like.length }} passenger{{ album.like.length > 1 ? 's' : '' }} like it.
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <div class="bs-callout bs-callout-danger" ng-show="albumToComment==album._id">
                            <form class="form-horizontal" ng-submit="postComment(album._id, commentContent, album.owner)" name="comment">
                                <div class="form-group" >
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="commentContent" />
                                    </div>
                                    <div class="pull-right pull-right-padding">
                                        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-send"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <div ng-repeat="comment in comments | filter:searchText">
                            <div ng-if="comment.album == album._id && comment.image == null">
                                <div class="bs-callout bs-callout-danger">
                                    <p class="pull-right">
                                        <img class="avatar" src="{{ comment.authorDatas[0].avatar ? comment.authorDatas[0].avatar : '/images/favicon.ico'}}">
                                    </p>
                                    <p ng-bind-html="trustHtml(comment.content)" hashtagify term-click="tagTermClick($event)" user-click="tagUserClick($event)"></p>
                                    <div class="form-group">
                                        <footer>
                                            <button class="btn btn-default btn-xs" ng-click="removeComment(comment._id)" ng-show="comment.author==user._id" title="remove it"><i class="glyphicon glyphicon-remove"></i></button>
                                            <button class="btn btn-default btn-xs" ng-click="likeComment(comment._id)" ng-show="comment.author!=user._id && !comment.isLiked" title="like it"><i class="glyphicon glyphicon-thumbs-up"></i></button> <button class="btn btn-default btn-xs" ng-click="unlikeComment(comment._id)" ng-show="comment.author!=user._id && comment.isLiked" title="unlike it"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                                            commented by {{ comment.authorDatas[0].name }}<cite> on {{ comment.createDate | date : "dd/MM/yyyy 'at' HH:mm:ss"}}</cite> | {{ comment.like.length }} passenger{{ comment.like.length > 1 ? 's' : '' }} like it.
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p></p>
        <p ng-if="user._id == wall._id">You want to add a new album ? Fill the title and description below and click !</p>
        <form class="form-signin form-horizontal" name="formAdd" ng-submit="addAlbum(title, description)" ng-if="user._id == wall._id">
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="title" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="description" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-plus"></i> Add new album</button>
                </div>
            </div>
        </form>
    </div>
</div>