<h3>Chat</h3>
<p>You're on the <strong>{{room}}</strong> room, my dear <em>{{username}}</em></p>
<md-content>
    <section>
        <md-list>
            <!--<md-subheader class="md-primary header"><span align="right">You're on the <strong>{{room}}</strong> room <em>{{username}}</em></span></md-subheader>-->
            <md-whiteframe ng-repeat="m in messages | filter:m.room = room" class="md-whiteframe-z2 message" layout layout-align="center center">
                <md-list-item class="md-3-line">
                    <img ng-src="{{m.avatar}}" class="md-avatar" alt="User" />
                    <div class="md-list-item-text">
                        <h3>{{m.username}}</h3>
                        <p>{{m.content}}</p>
                    </div>
                </md-list-item>
            </md-whiteframe>
        </md-list>
    </section>
        <md-input-container>
            <label>Message </label>
            <textarea ng-model="message" columns="1" md-maxlength="100" ng-enter="send(message)"></textarea>
        </md-input-container>
</md-content>

