<h3>Friends</h3>
<p>Here are your fans. You want to preserve your privacy, just block their access to your post below.</p><br/>
<div class="container" ng-controller="friendsCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="searchText" placeholder="type what you search here" />
            </div>
        </div>
    </form>
    <div ng-repeat="friend in friends | filter: searchText">
        <div class="form-group" ng-show="friend.status">
            <div class="col-sm-10">
                <p class="form-control"><strong><a href="#" ng-click="showFriend(friend)">{{ friend.name }}</a></strong>{{ friend.city ? ' living in ' . friend.city : '' }}<cite> - friends since {{ friend.friendshipDate | date : "dd/MM/yyyy" }}</cite></p>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning btn-block" type="submit" ng-click="removeFriend(friend._id)"><i class="glyphicon glyphicon-ban-circle"></i> Dismiss</button>
            </div>
        </div>
    </div>
</div>