<h3>Please Log In</h3>
<p>And participate to a wonderful experience</p>
<div class="container" ng-controller="loginCtrl">
    <form class="form-signin form-horizontal" ng-submit="login()">
        <div class="form-group">
            <label class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="loginEmail" placeholder="type your name or email as login" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="loginPassword" placeholder="type your password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label ><input type="checkbox" ng-model="rememberMe" value="true" checked /> remember me</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-log-in"></i> Log In</button>
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <br/>
            <p>You don't have an account ? Register in less than one minute</p>
            <button class="btn btn-default" ng-click="goToRegister()"><i class="glyphicon glyphicon-pencil"></i> Register</button>
            <p></p>
        </div>
    </div>
</div>
