<h3>Messages</h3>
<p>Here are all the notifications and private messages you've received</p><br/>
<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="messages"><i class="glyphicon glyphicon-envelope"></i> messages to read</a></li>
    <li role="presentation"><a href="messages/archive"><i class="glyphicon glyphicon-folder-open"></i> archived messages</a></li>
</ul>
<br/>
<div class="container" ng-controller="messagesCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="searchText" placeholder="type what you search here" />
            </div>
        </div>
    </form>
    <div ng-repeat="message in messages | filter: searchText">
        <div class="form-group">
            <div class="col-sm-8">
                <blockquote>
                    <p>{{ message.content }}</p>
                    <div class="form-group">
                        <footer>
                            posted by {{ message.authorDatas[0].name }}<br/>
                            <cite><strong>{{ message.type }}</strong> {{ message.status ? 'published' : 'removed'}} since {{ message.status ? message.createDate : message.deleteDate | date : "dd/MM/yyyy 'at' HH:mm:ss" }}</cite>
                        </footer>
                    </div>
                </blockquote>
            </div>
            <!-- if private message buttons read, reply / else if notification buttons read (and all read) / else if friend request buttons accept reject -->
            <div class="col-sm-2">
                <button class="btn btn-info btn-block" type="submit" ng-click="readMessage(message._id)" ng-disabled="!message.status" ng-hide="message.type == 'friend request'"><i class="glyphicon glyphicon-ok-sign"></i> Read</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-block" type="submit" ng-click="replyMessage(message._id, message.authorDatas[0])" ng-disabled="!message.status"  ng-hide="message.type == 'friend request'"><i class="glyphicon glyphicon-envelope"></i> Reply</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success btn-block" type="submit" ng-click="addFriend(message._id, message.author)" ng-disabled="!message.status" ng-show="message.type == 'friend request'"><i class="glyphicon glyphicon-ok-circle"></i> Approve</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning btn-block" type="submit" ng-click="rejectFriend(message._id, message.author)" ng-disabled="!message.status" ng-show="message.type == 'friend request'"><i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
