<h3>Messages</h3>
<p>You want to send a private message to {{ recipient.name }} ? Please fill the form below !</p><br/>

<br/>
<div class="container" ng-controller="privateMessageCtrl">
    <form class="form-signin form-horizontal" ng-submit="addMessage(content)">
        <div class="form-group">
            <label class="col-sm-2 control-label">Your message</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="content" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-pencil"></i> Send it !</button>
            </div>
        </div>
    </form>
</div>
