<div ng-controller="profileCtrl">
    <img src="{{ user.avatar ? user.avatar : '/images/logo.png' }}" class="pull-left big-avatar"/>
    <h3>Password Change</h3>
    <p>Here you can securely change your password {{ user.name }} !</p>
    <div class="container">
        <form class="form-signin form-horizontal" ng-submit="updatePassword()">
            <div class="form-group">
                <label class="col-sm-2 control-label">Old password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="oldPassword" placeholder="type your old password" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">New password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="newPassword" placeholder="type your new password" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">New password confirmation</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="conf_newPassword" placeholder="confirm your new password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-pencil"></i> Update</button>
                </div>
            </div>
        </form>
    </div>
</div>