<div>
    <img src="{{ passenger.avatar ? passenger.avatar : '/images/logo.png' }}" class="pull-left big-avatar"/>
    <h3>{{ passenger.name }}'s profile</h3>
    <p>Here is this passenger's authorized information.</p>

    <div class="form-group">
        <div class="bs-callout bs-callout-info">
            <p ng-if="passenger.firstName">full name : {{ passenger.firstName }} {{ passenger.lastName }}</p>
            <p ng-if="passenger.city">live in {{ passenger.city }}, {{ passenger.country }} </p>
            <footer>
                <cite> take the Ghost Train since {{ passenger.createDate | date : "dd/MM/yyyy 'at' HH:mm:ss"}}</cite> | {{ (passenger.friends|filter:{status:true}).length }} friend{{ (passenger.friends|filter:{status:true}).length > 1 ? 's' : '' }}.
            </footer>
        </div>
    </div>
</div>