<h3>Passengers</h3>
<p>You want to follow some friend or organization ? Please find it and click to request a ticket in their ghost train !</p><br/>
<div class="container" ng-controller="passengersCtrl">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="searchText" placeholder="type what you search here" />
            </div>
        </div>
    </form>
    <div ng-repeat="candidate in users | filter: searchText">
        <div class="form-group">
            <div class="col-sm-10">
                <p class="form-control"><strong><a href="#" ng-click="showPassenger(candidate._id)">{{ candidate.name }}</a></strong>{{ candidate.city ? ' living in ' . candidate.city : '' }}<cite>{{ candidate.friendship == true ? ' - you are friend with this passenger' : '' }}{{ candidate.friendship == "in progress" ? ' - a friendship request is in progress' : '' }}</cite></p>
            </div>
            <!-- if friend or in progress button disabled -->
            <div class="col-sm-2">
                <button class="btn btn-success btn-block" type="submit" ng-click="requestFriend(candidate._id)" ng-disabled="candidate.friendship"><i class="glyphicon glyphicon-star"></i> Request</button>
            </div>
        </div>
    </div>
</div>