<div ng-controller="profileCtrl">
    <img src="{{ user.avatar ? user.avatar : '/images/logo.png' }}" class="pull-left big-avatar"/>
<h3>Profile</h3>
<p>Here are your coordinate. Please update and download an avatar if you wish !</p>
<div class="container">
    <form class="form-signin form-horizontal" ng-submit="updateProfile()">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="name" ng-init="name = user.name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="email" ng-init="email = user.email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="firstName" ng-init="firstName = user.firstName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="lastName" ng-init="lastName = user.lastName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Street Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="streetAddress" ng-init="streetAddress = user.streetAddress" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Complement Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="complementAddress" ng-init="complementAddress = user.complementAddress" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Postal Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="postalCode" ng-init="postalCode = user.postalCode" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="city" ng-init="city = user.city" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="state" ng-init="state = user.state" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="country" ng-init="country = user.country" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-pencil"></i> Update</button>
            </div>
        </div>
    </form>

    <form class="form-signin form-horizontal" name="uploadForm" ng-submit="uploadAvatar(file)">
        <div class="form-group">
            <br/>
            <div class="col-sm-offset-2 col-sm-10">
                <p>Upload an image as avatar :</p>
            </div>
            <label class="col-sm-2 control-label">Avatar</label>
            <div class="col-sm-10">
                <input type="file" ngf-select name="file" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" class="form-control" ng-model="file" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button ng-disabled="uploadForm.$valid" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-folder-open"></i>  Choose your file</button>
                <!-- <i ng-show="uploadForm.file.$error.required">*required</i><br> -->
                <i class="alert alert-error" ng-show="uploadForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                <br/>
                <img ng-show="uploadForm.file.$valid" ngf-thumbnail="file" class="thumb avatar">
            </div>
            <div class="col-sm-5">
                <button ng-disabled="!uploadForm.$valid" class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-open"></i> Import it !</button>
                    <span class="progress" ng-show="file.progress >= 0">
                        <div style="width:{{file.progress}}%" ng-bind="file.progress + '%'"></div>
                    </span>
                <br/>
                <span class="alert alert-success" ng-show="file.result">Upload Successful</span>
                <span class="err alert alert-error" ng-show="errorMsg">{{errorMsg}}</span>
                <button class="btn btn-warning btn-block" ng-click="file = null" ng-show="file && !file.result"><i class="glyphicon glyphicon-remove-sign"></i> Remove it</button>
            </div>
        </div>
    </form>

    <div class="form-group bs-info">
        <div class="col-sm-offset-2 col-sm-10">
            <br/>
            <p>Your passenger fortune :</p>
            <p><i class="glyphicon glyphicon-link"></i> You have {{ (user.friends|filter:{status:true}).length }} friend{{ (user.friends|filter:{status:true}).length > 1 ? 's' : '' }}.</p>
            <p></p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <br/>
            <p>You don't want to be a passenger anymore ? We are sad, but you could unregister below.</p>
            <button class="btn btn-default" ng-click="unRegister()"><i class="glyphicon glyphicon-remove-sign"></i> Unregister</button>
            <p></p>
        </div>
    </div>
</div>
</div>