<h3>Registration</h3>
<p>Create an account and take the ghost train !</p>
<div class="container" ng-controller="registerCtrl">
    <form class="form-signin form-horizontal" ng-submit="register()">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="name" placeholder="type your name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="email" placeholder="type your email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="password" placeholder="type your password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password confirmation</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="conf_password" placeholder="confirm your password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-pencil"></i> Register</button>
            </div>
        </div>
    </form>
</div>
