<div ng-controller="wallCtrl">
    <img src="{{ wall.avatar ? wall.avatar : '/images/logo.png' }}" class="pull-left big-avatar"/>
    <h3>{{ wall._id == user._id ? 'My' : wall.name + '\'s' }} wall
        <button class="btn btn-default" ng-click="showMyWall()" ng-hide="wall._id == user._id" id="myWall" title="back to my wall"><i class="glyphicon glyphicon-repeat"></i></button>
        <button class="btn btn-default" ng-click="sendPrivateMessage(wall._id, wall.name)" ng-hide="wall._id == user._id" id="privateMessage" title="send a private message to this passenger"><i class="glyphicon glyphicon-envelope"></i></button>
        <button class="btn btn-default" ng-click="showAlbums()" id="showAlbums" title="show this passenger albums"><i class="glyphicon glyphicon-picture"></i></button>
    </h3>
        <p class="pull-right" ng-show="content">
            your post is <span ng-if="content.length < 20" class="text_red">too short ({{ content.length }}</span>
            <span ng-if="content.length > 140" class="text_red">too long ({{ content.length }}</span>
            <span ng-if="content.length > 19 && content.length < 141" class="text_green" >valid ({{ content.length }}</span>
            digit{{ content.length > 1 ? 's' : ''}}).
        </p>
    <p>What's happen in {{ wall._id == user._id ? 'your' : wall.name + '\'s' }} Ghost Train today ?</p>
    <div class="container">
        <form class="form-horizontal" ng-submit="post()">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="content" placeholder="type your post here" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-send"></i> Post it !</button>
                </div>
            </div>
        </form>
    <p></p>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="searchText" placeholder="type what you search here" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-block" type="submit" ng-click="clean()"><i class="glyphicon glyphicon-refresh"></i> Clean it !</button>
                </div>
            </div>
        </form>
        <div ng-repeat="post in posts | filter:searchText">
            <div class="form-group">
                <div class="bs-callout bs-callout-info">
                    <form class="form-horizontal" ng-submit="update(post._id, newContent)" ng-show="postToUpdate==post._id">
                        <div class="form-group" >
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newContent" ng-value="post.content" />
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-send"></i></button>
                            </div>
                        </div>
                    </form>
                    <p class="pull-right" ng-show="postToUpdate!=post._id">
                        <img class="avatar" src="{{ post.authorDatas[0].avatar ? post.authorDatas[0].avatar : '/images/favicon.ico'}}">
                    </p>
                    <p ng-show="postToUpdate!=post._id" ng-bind-html="trustHtml(post.content)" hashtagify term-click="tagTermClick($event)" user-click="tagUserClick($event)"></p>
                    <div class="form-group">
                        <footer>
                            <button class="btn btn-default btn-xs" ng-click="edit(post._id)" ng-show="post.author==user._id" title="edit it"><i class="glyphicon glyphicon-pencil"></i></button> <button class="btn btn-default btn-xs" ng-click="remove(post._id)" ng-show="post.author==user._id" title="remove it"><i class="glyphicon glyphicon-remove"></i></button>
                            <button class="btn btn-default btn-xs" ng-click="like(post._id)" ng-show="post.author!=user._id && !post.isLiked" title="like it"><i class="glyphicon glyphicon-thumbs-up"></i></button> <button class="btn btn-default btn-xs" ng-click="unlike(post._id)" ng-show="post.author!=user._id && post.isLiked" title="unlike it"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                            <button class="btn btn-default btn-xs" ng-click="commentate(post._id)" ng-show="post.author!=user._id" title="comment it"><i class="glyphicon glyphicon-comment"></i></button>
                            posted by {{ post.authorDatas[0].name }}<cite> on {{ post.updateDate | date : "dd/MM/yyyy 'at' HH:mm:ss"}}</cite> | {{ post.like.length }} passenger{{ post.like.length > 1 ? 's' : '' }} like it.
                        </footer>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <div class="bs-callout bs-callout-danger" ng-show="postToComment==post._id">
                            <form class="form-horizontal" ng-submit="postComment(post._id, commentContent, post.authorDatas[0])" name="comment">
                                <div class="form-group" >
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="commentContent" />
                                    </div>
                                    <div class="pull-right pull-right-padding">
                                        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-send"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <div ng-repeat="comment in comments | filter:searchText">
                            <div ng-if="comment.post == post._id">
                                <div class="bs-callout bs-callout-danger">
                                    <p class="pull-right">
                                        <img class="avatar" src="{{ comment.authorDatas[0].avatar ? comment.authorDatas[0].avatar : '/images/favicon.ico'}}">
                                    </p>
                                    <p ng-bind-html="trustHtml(comment.content)" hashtagify term-click="tagTermClick($event)" user-click="tagUserClick($event)"></p>
                                    <div class="form-group">
                                        <footer>
                                            <button class="btn btn-default btn-xs" ng-click="removeComment(comment._id)" ng-show="comment.author==user._id" title="remove it"><i class="glyphicon glyphicon-remove"></i></button>
                                            <button class="btn btn-default btn-xs" ng-click="likeComment(comment._id)" ng-show="comment.author!=user._id && !comment.isLiked" title="like it"><i class="glyphicon glyphicon-thumbs-up"></i></button> <button class="btn btn-default btn-xs" ng-click="unlikeComment(comment._id)" ng-show="comment.author!=user._id && comment.isLiked" title="unlike it"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                                            commented by {{ comment.authorDatas[0].name }}<cite> on {{ comment.createDate | date : "dd/MM/yyyy 'at' HH:mm:ss"}}</cite> | {{ comment.like.length }} passenger{{ comment.like.length > 1 ? 's' : '' }} like it.
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>