body {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
}

main {
  padding: 0 25px 10px 25px;
}

p, footer, cite, button, input, a {
  font-family: "Raleway", Arial, serif;
}

a {
  color: #00B7FF;
}

header img {
  float: right;
  max-width:100px;
  max-height: 80px;
}

.navbar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.little_logo {
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
}

.nav-logo {
  padding: 5px;
}

.avatar {
  max-width: 40px;
  max-height: 40px;
  border: 1px lightgrey solid;
  border-radius: 50%;
}

.big-avatar {
  max-width: 5em;
  max-height: 5em;
  border: 1px lightgrey solid;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -15px;
  margin-top: -10px;
}

.text_red {
  color: darkred;
}

.text_green {
  color: darkgreen;
}

.right {
  text-align: right;
}

.padding-top {
  padding-top: 20px !important;
}

.pull-right-padding {
  padding-right: 15px !important;
}

.no-padding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.margin-right {
  margin-right: 20px !important;
}

.image {
  max-width: 160px;
  min-width: 60px;
  max-height: 160px;
  min-height: 60px;
  padding: 5px;
  border: 1px lightgray solid;
  border-radius: 15%;
}

.little-image {
  max-width: 100px;
  min-width: 50px;
  max-height: 100px;
  min-height: 50px;
  padding: 5px;
  border: 1px lightgray solid;
  border-radius: 15%;
}

.no-padding {
  padding: 0 !important;
}

.smaller {
  font-size: 0.85em !important;
}

.low-margin {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}