<!doctype html>
<html ng-app="GhostTrain">
    <head>
        <base href="/" >
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="javascripts/angular.js"></script>
        <script src="javascripts/angular-route.js"></script>
        <script src="javascripts/angular-animate.js"></script>
        <script src="javascripts/angular-aria.js"></script>
        <script src="javascripts/angular-material.js"></script>
        <script src="javascripts/angular-material-icons.js"></script>
        <script src="javascripts/angular-touch.js"></script>
        <script src="javascripts/angular-local-storage.js"></script>
        <script src="javascripts/angular-ui-notification.js"></script>
        <script src="javascripts/angular-hashtagify.js"></script>
        <script src="javascripts/ui-bootstrap.js"></script>
        <script src="javascripts/ng-file-upload.js"></script>
        <script src="javascripts/socket.js"></script>
        <script src="javascripts/socket.io.js"></script>
        <script src="app/MEAN_RollerCoaster.js"></script>
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="stylesheets/docs.min.css" />
        <link rel="stylesheet" href="stylesheets/angular-ui-notification.min.css" />
        <link rel="stylesheet" href="stylesheets/app.css">
        <link rel="stylesheet" href="stylesheets/animate.css">
        <link rel="stylesheet" href="stylesheets/angular-material.css">
        <link rel="stylesheet" href="stylesheets/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <title>Ghost Train</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default nav-justified navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand nav-logo"><img src="images/logo.png" class="little_logo" /></a>
                        <span class="navbar-brand">Ghost Train</span>
                    </div>
                    <ul class="nav navbar-nav">
                        <li ng-hide="user"><a href="login"><i class="glyphicon glyphicon-log-in"></i> login</a></li>
                        <li ng-hide="user"><a href="register"><i class="glyphicon glyphicon-pencil"></i> register</a></li>
                        <li ng-show="user"><a href="wall"><i class="glyphicon glyphicon-tasks"></i> wall</a></li>
                        <li ng-show="user"><a href="friends"><i class="glyphicon glyphicon-star"></i> friends</a></li>
                        <li ng-show="user"><a href="passengers"><i class="glyphicon glyphicon-globe"></i> passengers</a></li>
                        <li ng-show="user" uib-dropdown>
                            <a href="#" uib-dropdown-toggle><i class="glyphicon glyphicon-comment"></i> Chat <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" ng-controller="ChatCtrl">
                                <li><a ng-click="StartChat(room='Casper')">Casper</a></li>
                                <li><a ng-click="StartChat(room='Halloween')">Halloween</a></li>
                                <li><a ng-click="StartChat(room='Dracula')">Dracula</a></li>
                                <li><a ng-click="StartChat(room='Freddy')">Freddy</a></li>
                            </ul>
                        </li>
                        <li ng-show="user"><a href="messages"><i class="glyphicon glyphicon-envelope"></i> messages <span class="badge">{{ badge > 0 ? badge : '' }}</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <cite ng-hide="user" class="navbar-text">welcome to our facebook like app</cite>
                        <li ng-show="user" uib-dropdown>
                            <a href="#" uib-dropdown-toggle><i class="glyphicon glyphicon-user"></i> profile <span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li><a href="profile">account</a></li>
                                <li><a href="password">password change</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="albums">my albums</a></li>
                                <li><cite class="navbar-text">logged in as {{ user.name }}</cite></li>
                            </ul>
                        </li>
                        <li ng-show="user.admin"><a href="admin/users"><i class="glyphicon glyphicon-cog"></i> admin</a></li>
                        <li ng-show="user"><a href="logout"> logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <p class="alert alert-danger" role="alert" ng-if="error">{{ error }}</p>
        <p class="alert alert-info" role="alert" ng-if="message">{{ message }}</p>

        <main>
            <div class="pull-right">
                <button class="btn btn-default btn-block" ng-click="goBack()" ng-show="user._id" id="goBack"><i class="glyphicon glyphicon-step-backward"></i> Back</button>
            </div>
            <div ng-view ></div>
        </main>

        <footer class="form-control input-sm" role="alert">
            <p class="right">design for MEAN Project @ Coding-Academy - Sébastien D'Angelo & Silvère Camponovo 2016 <i class="glyphicon glyphicon-copyright-mark"></i></p>
        </footer>
    </body>
</html>