extends layout

block content
  h1= title
    if user
      p Welcome #{user.name}
    else
      p Welcome to my website

  h2 Login
  form(method='post' action='/login')
    label(for='login') Email
    input(type='text' name='login' id='login')
    br
    label(for='password') Password
    input(type='password' name='password' id='password')
    br
    input(type='submit')
    br

  h2 Register
  form(method='post' action='/register')

    label(for='name') Name
      input(type='text' name='name' id='name')
    br
    label(for='email') Email
    input(type='text' name='email' id='email')
    br
    label(for='password') Password
    input(type='password' name='password' id='password')
    br
    label(for='conf_password') Confirm Password
      input(type='password' name='conf_password' id='conf_password')
    br
    input(type='submit')
    br

  if message
    p #{message}
